Django==5.0.4
djangorestframework==3.15.1
pre-commit==3.7.0
PyJWT==2.8.0
python-dotenv==1.0.1
black==24.4.2
mysqlclient==2.2.4
drf-spectacular==0.27.2
drf-yasg==1.21.7
django-cors-headers==4.3.1
pybase62==1.0.0
django-harlequin==1.1.2
harlequin==1.20.0
harlequin-mysql==0.1.3